.trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
}

.siderBackColor {
    overflow-y: auto;
    overflow-x: hidden;
}

.siderBackColor_menu {
    border-top: 1px solid #c1c8d2;
}

.trigger:hover {
    color: #29B85D;
}

.ant-menu-item {
    margin: 0 !important;
}

.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #3c4042 !important;
}

.ant-menu-root.ant-menu-inline {
    height: auto !important;
    box-shadow: none !important;
}

.ant-layout-sider-children .ant-menu .ant-menu-submenu {
    /*height: 40px;*/
}

.ant-menu-submenu {

}

.ant-menu-submenu-inline {

}

.ant-menu-inline .ant-menu-item::after {
    border-right: 3px solid #29B85D !important;
}

.saidbar_bottom {
    width: 200px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 50px;
    text-align: center;
    transition: all 0.2s;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    padding: 0 5px 0 5px;

}

.logo_img_softdata {
    width: 60%;
    height: 50px;
    margin-left: 5px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
}

.logo .logo_img {
    width: 88%;
    height: 90px;
    margin-left: 5px;
}

.logoText {
    font-family: quantum;
    font-size: 32px;
    margin-bottom: 17px;
}

.grenText {
    color: #29b85d;
}

.softdev {
    font-size: 12px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-top: -8px;
    letter-spacing: 1.5px;
    margin-bottom: 10px;
}

.h1 {
    font-weight: 900;
}

.s {
    color: #29B85D;
    font-weight: 900;
}


.ant-layout-header .ant-menu {
    border-bottom: 1px solid #A5BAC4;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.11);
}

.dashboard {
    /*margin: 10px 0 10px 0px !important;*/
    margin-top: 15px;
}


.close_saidbar_title {
    margin-left: 20px !important;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    color: rgba(000, 000, 000, 0.5);
    margin-top: 15px;
    text-transform: uppercase;

}

.saidbar_title {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 19px;
    color: rgba(000, 000, 000, 0.4);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px !important;
}

.saidbar_link a {
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
}

.saidbar_link:hover {
    background-color: #fafafa;
}

.IconsLight {
    /*filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);*/
    filter: invert(70%) sepia(65%) saturate(0%) hue-rotate(253deg) brightness(85%) contrast(110%);
    transition: all 0.3s;
}


.ant-menu-submenu-title {
    height: 65px !important;
}


/*------dashboard icons----------*/

.ant-menu-submenu-title .ant-menu-item-icon {
    font-size: 20px;
}

.ant-menu-item .ant-menu-item-icon {
    font-size: 20px;
}

.ant-menu-submenu-title {
    padding-left: 20px !important;
}

/*-------dashboard color------*/
.ant-menu-sub.ant-menu-inline {
    background: #FFFFFF !important;
}


.ant-menu-submenu-selected {
    color: #29b85d;
}

.ant-menu-item-selected {
    color: #29b85d;
}

.ant-menu-item-selected a, ant-menu-item-selected a:hover {
    color: #29b85d;
}

.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
    color: #29b85d !important;
}

.ant-menu-item a:hover {
    color: #29b85d !important;
}

.ant-menu-light .ant-menu-item:hover, .ant-menu-light .ant-menu-item-active, .ant-menu-light .ant-menu:not(.ant-menu-inline) .ant-menu-submenu-open, .ant-menu-light .ant-menu-submenu-active, .ant-menu-light .ant-menu-submenu-title:hover {
    color: #29b85d !important;
}

.ant-menu-submenu-arrow {
    color: #29b85d !important;
}

.ant-menu-vertical .ant-menu-submenu-selected {
    color: #29b85d;
}

.ant-menu-title-content {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
}

.saidbar_link {
    height: 65px !important;
}

.header_navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left {
    display: flex;
    align-items: center;
    height: 30px;
    padding: 0 10px 0 10px;
    margin-left: 15px;
    background: #26BF56;
    border-radius: 5px;
}

.header_left span {
    color: #FFFFFF;
    font-size: 12px;
}

.header_right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.header_notif_badge .ant-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #EAEAEA;
    background: #FFFFFF;
    border-radius: 5px;
    margin-left: 10px;
}

.header_notif_badge{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_notif_badge .ant-avatar > img {
    width: 20px;
    height: 20px;
}
.ant-badge-count{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 13px!important;
    max-width: 14px;
    height: 13px;
    font-size: 10px;
}
.lang_dropdown {
    width: 100px;
    height: 25px;
    outline: none;
    border-radius: 20px;
    padding: 0 5px;
    font-size: 14px;
}

.ant-switch-checked {
    background: #29b85d;
}

.rount_img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    margin: 0 15px;
    cursor: pointer;
}

.username_img_title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.rount_img img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.username{
    color: #000;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/*content*/

.Content_title {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
}

.content_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.headerr {
    display: flex;
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    z-index: 100;
}

.ant-layout .site-layout {
    position: relative;
    overflow: auto;
}

.ant-layout-content {
    height: 100% !important;
}


/*----dashboard img icon----*/
.ant-menu-submenu-active:hover img {
    filter: invert(56%) sepia(51%) saturate(646%) hue-rotate(89deg) brightness(95%) contrast(85%) !important;
    transition: all 0.3s;
}

.ant-menu-submenu-selected div img {
    filter: invert(56%) sepia(51%) saturate(646%) hue-rotate(89deg) brightness(95%) contrast(85%) !important;
    transition: all 0.3s;
}

.ant-menu-item-selected img {
    filter: invert(56%) sepia(51%) saturate(646%) hue-rotate(89deg) brightness(95%) contrast(85%) !important;
    transition: all 0.3s;
}

.ant-menu-item-active:hover img {
    filter: invert(56%) sepia(51%) saturate(646%) hue-rotate(89deg) brightness(95%) contrast(85%) !important;
    transition: all 0.3s;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #e6f7ff;
}


@media only screen and (max-width: 1800px) {

    .saidbar_toggle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .saidbar_link {
        height: 40px !important;
        padding-left: 45px !important;
    }

    .saidbar_link a {
        font-size: 12px;
    }

    .ant-menu-item .ant-menu-item-icon {
        width: 18px;
    }

    .ant-menu-title-content {
        font-size: 14px;
    }

    .logo {;
        height: 53px;
    }

    .logo .logo_img {
        width: 85%;
        /*height: 75px;*/
        margin-left: 5px;
    }

    .logo .short_logo {
        width: 50%;
    }

    .ant-menu-inline .ant-menu-submenu-title {
        margin-top: 0 !important;
        margin-bottom: 0 !important;
    }


}

















