.info_content {
    padding: 10px;
}

.info_content_title {
    /*font-family: Inter;*/
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}

.dashboard_top_items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
}

.dashboard_top_items_inner {
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid #F1F2F4;
    background: #FFFFFF;
    padding: 10px 14px;
}

.dashboard_top_inner_info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.dashboard_top_inner_info h4 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.dashboard_info_content{
    height: calc(100vh - 220px);
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 10px;
    margin-top: 10px;
}
.dashboard_info_content_right{

    padding: 5px;
    background: #FFFFFF;
    border-radius: 5px;
}
.dashboard_info_content_left{
    padding: 5px;
    background: #FFFFFF;
    border-radius: 5px;
}

.dashboard_left{
    display: flex;
    flex-direction: column;
    align-content: space-between;
    padding: 5px 10px ;
}

.dashboard_left_top_title{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title_vertcal_line{
    width: 4px;
    height: 24px;
    margin-right: 6px;
    border-radius: 10px;
    background: #26BF56;
}
.dashboard_left_title{
    /*font-family: Inter;*/
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.dashboard_left_cards{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid #F7F7F8;
    padding: 10px;
    margin: 8px 0;
}

.dashboard_card_left_inner{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dashboard_card_left_inner img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 5px;
}

.card_left_inner_user_info h4 {
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.card_left_inner_user_position{
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.card_left_inner_user_position span{
    color: #636C79;
    margin-right: 5px;
}

.dashboard_card_right{
    width: 80px;
    height: 80px;
}
.dashboard_card_right .CircularProgressbar .CircularProgressbar-path {
    stroke: red;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease 0s;
}
.more_wiev_button{
    height: calc(100vh - 430px);
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.more_wiev_button button{
    padding: 5px 15px;
    border-radius: 5px;
background: #EFF8FE;
    color: #069CDF;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}





@media only screen and (max-width: 1470px) {
    .dashboard_top_items_inner{
        padding: 6px 8px;
    }
    .dashboard_top_inner_img img{
        width: 50px;
        height: 50px;
    }
    .dashboard_top_inner_info p{
        font-size: 12px;
    }
    .dashboard_top_inner_info h4 {
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    .dashboard_info_content{
        height: calc(100vh - 190px);
    }
    .card_left_inner_user_info h4 {
        font-size: 16px;
    }
    .card_left_inner_user_position{
        font-size: 12px;
    }
    .dashboard_card_right{
        width: 60px;
        height: 60px;
    }
}